<header class="navbar bg-light opacity-75">
    <div class="container">
      <h1>DnD Character Builder</h1>
      <% if (currentUser) { %>
        <a class="nav-link" href="/character/new">Character Creation</a>
        <li class="nav-link">Welcome <%= currentUser.username %></li>
        <li class="nav-link">
          <form action="/sessions?_method=DELETE" method="POST" style="display:contents;">
            <input type="submit" value="Log Out" />
          </form>
        </li>
        <% } else { %>
        <li><a class="nav-link" href="/users/new">Sign Up</a></li>
        <li><a class="nav-link" href="/sessions/new">Log In</a></li>
        <% } %>
    </div>
  </header>
